@font-face {font-family: "Big Caslon Black"; src: url("//db.onlinewebfonts.com/t/789f9065baf48309d73fd0ff02fe4aec.eot"); src: url("//db.onlinewebfonts.com/t/789f9065baf48309d73fd0ff02fe4aec.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/789f9065baf48309d73fd0ff02fe4aec.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/789f9065baf48309d73fd0ff02fe4aec.woff") format("woff"), url("//db.onlinewebfonts.com/t/789f9065baf48309d73fd0ff02fe4aec.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/789f9065baf48309d73fd0ff02fe4aec.svg#Big Caslon Black") format("svg"); }
@font-face {
    font-family: "headingfont";
    src: url(../fonts/calendas_plus-webfont.ttf) format("truetype");
}
body {
    font-family: 'headingfont', serif;
}
a:hover {
    text-decoration: none;
}


#headingname{
    max-width: 660px;
    min-width: 200px;
    font-family: "Big Caslon FB Black", "Big Caslon FB Black", serif;
    font-style: normal;
    font-weight: normal;
    color: #252525;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    color: rgb(80, 75, 75);
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    
}
.stick_h1{
    font-size: 25px;
}
.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
}
.topbar {
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.78;
    text-transform: none;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #fff;
    border-bottom-width: 1px;
    border-bottom-color: #eee;
    color: #888;
}
.topbar-left {
    padding-left: 10px;
    float: left;
    margin-top: 0px;
}

.topbar-right ul {
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
}

.topbar-right ul li {
    padding: 13px 30px;
    margin-right: -4px;
    border-right: 1px solid #eee;
    display: inline-block;
    line-height: 1;
    letter-spacing: 1px;
}

.topbar-right ul li {
    border: none;
    padding: 7px 10px;
    color: #253982;
    font-size: 14px;
}

.topbar-right {
    float: right;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color:#f0f0f0; /* #f8f9fa*/
}
.copyright{
    margin-top: -50px;
    margin-bottom: 0px;
    color: #6c6c6c;
}

header {
    padding: 0px 0px;
    border-bottom: none;
    position: fixed;
    top: 0;
    border-bottom: none;
    width:100%;
    z-index: 1000;
}
.header_change{
    background-color: inherit;
    border-bottom: #f0f0f0 1px solid;
}
#menuitem li{
    padding-right: 5px;
    margin-right:10px;
}

#headingname{
    font-size: 25px;
}

.tt_intro{
    font-size: 22px;
}