body{
    height: 1000px;
    list-style-type:none;
}
ul li{
    list-style-type:none;
}
.about{
    padding: 100px 0px;
}
.intro-titile{
    padding-top: 100px;
    float: left;
    text-align: left;
}
.thingd_ido{
    font-size: 25px;
}
.stick_h1{
    padding-top: 20px;
    /*color: rgb(102, 123, 142);*/
    color: rgb(80, 75, 75);
    font-family: "Big Caslon FB Black", "Big Caslon FB Black", serif;
}
.intro-titile h5{
    color: rgb(97, 103, 109);
}
.intro-titile p{
    color: rgb(80, 75, 75);
}
.intro-para{
    max-width: 600px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: justify;
}
.intro-info{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}
.intro-info h3{
    color: rgb(80, 75, 75);
}
.intro-list{
    list-style-type:none;
    margin-top: 20px;
    padding-left: 0rem;
}
.intro-list li{
    padding: 4px 0px;
    font-size: 18px;
    color: rgba(65, 51, 51);
}
.intro-list .fa-solid, .fa-brands{
    padding-right: 8px;
    color: rgb(56, 58, 57);
}
.bi-balloon-heart-fill{
    color: rgb(39, 155, 85);
    font-size: 30px;
}
.intro-info h4:hover > .bi-balloon-heart-fill{
    color: rgb(255, 53, 53);
    font-size: 30px;
}



/* section 3 -------------------------------------- */
div.outer{
    height: 280px;
    width: 280px;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 15px;
    box-sizing: border-box;
    box-sizing:border-box;
  }
div.outer:before{
    content:"";
    background:rgb(80, 75, 75);
    width:150px;
    height:150px;
    position:absolute;
    bottom:-5px;
    left:-5px;
    display:block;
    z-index: -1;
  }
div.outer:after{
    content:"";
    background:rgb(80, 75, 75);
    width:150px;
    height:150px;
    position:absolute;
    top:-5px;
    right:-5px;
    display:block;
    z-index: -1;
  }
  .myimg{
      border: 5px solid rgb(255, 255, 255);
      box-shadow: 2px 2px 5px 5px #d6d6d659;
  }

  .timeline{
      padding: 100px 0px;
      text-align: center;
  }
  .tline-left{
      margin-top: 100px;
      padding-top: 50px;
  }
  .tline-left h2{
      margin-bottom: 30px;
      color: rgb(80, 75, 75);
      font-size: 25px;
      text-align: center;
  }
