body{
    height: 1000px;
    list-style-type:none;
}
ul li{
    list-style-type:none;
}
.about{
    padding: 100px 0px;
    padding-bottom: 70px;
}
.intro-titile{
    padding-top: 100px;
    float: left;
    text-align: left;
}
.thingd_ido{
    font-size: 25px;
}
.stick_h1{
    padding-top: 20px;
    /*color: rgb(102, 123, 142);*/
    color: rgb(80, 75, 75);
    font-family: "Big Caslon FB Black", "Big Caslon FB Black", serif;
}
.intro-titile h5{
    color: rgb(97, 103, 109);
}
.intro-titile p{
    color: rgb(80, 75, 75);
}
.intro-para{
    max-width: 600px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: justify;
}
.intro-info{
    text-align: center;
    margin-top: 100px;
    padding-top: 100px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 0px;
    transition: 500ms;
    /*outline: 1px solid rgb(86, 86, 86)*/
    color: rgb(80, 75, 75);
    background-color: #e1e1e1;
    min-height: 425px;
}
.skills_intro{
    min-height: 425px;
    background-color: rgb(68, 68, 68);
    margin-top: 100px;
    padding: 22px;
    padding-bottom: 0px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
}

.intro-info h3{
    color: rgb(80, 75, 75);
}
.intro-list{
    list-style-type:none;
    margin-top: 20px;
    padding-left: 0rem;
}
.intro-list li{
    padding: 4px 0px;
    font-size: 18px;
    color: rgba(65, 51, 51);
}
.intro-list .fa-solid, .fa-brands{
    padding-right: 8px;
    color: rgb(56, 58, 57);
}
.bi-balloon-heart-fill{
    color: rgb(39, 155, 85);
    font-size: 30px;
}
.intro-info h5 .bi-balloon-heart-fill{
    
    font-size: 30px;
    transition: 800ms;
}
.intro-info:hover > h5 .bi-balloon-heart-fill{
    color: rgb(255, 53, 53);
    transition: 800ms;
}



/* section 3 -------------------------------------- */
div.outer{
    height: 280px;
    width: 280px;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 15px;
    box-sizing: border-box;
    box-sizing:border-box;
  }
div.outer:before{
    content:"";
    background:rgb(80, 75, 75);
    width:150px;
    height:150px;
    position:absolute;
    bottom:-5px;
    left:-5px;
    display:block;
    z-index: -1;
  }
div.outer:after{
    content:"";
    background:rgb(80, 75, 75);
    width:150px;
    height:150px;
    position:absolute;
    top:-5px;
    right:-5px;
    display:block;
    z-index: -1;
  }
  .myimg{
      border: 5px solid rgb(255, 255, 255);
      box-shadow: 2px 2px 5px 5px #d6d6d659;
  }

  .timeline{
      padding: 30px 0px;
      text-align: center;
      padding-bottom: 0px;
  }
  .tline-left{
      margin-top: 100px;
      padding-top: 50px;
  }
  .tline-left h2{
      margin-bottom: 30px;
      color: rgb(80, 75, 75);
      font-size: 25px;
      text-align: center;
  }


  /* -------------------- block quote section ------------------------ */
  .area_box2{
      margin-top: 65px;
  }
  .area_box1{
      margin-top: 10px;
  }
  .card{
    background-color:rgb(68, 68, 68);
    border-radius: 0px;
  }
  .card-body{
    padding: 22px !important;
    font-size: 13px;
    text-align: justify;
  }
  .qt_para{
    font-size: 15px;
  }
  .list-inline-item:not(:last-child){
      margin-right: 0px;
  }
  .list-inline-item{
      padding: 36.7px;
      border: 1px solid #f5f5f53b;
  }
  .material-icons{
      font-size: 40px;
  }
  .my_like{
      margin-bottom: 0px;
  }

  .side_jobs li::before {
        content: "\2022";
        color: rgb(255, 255, 255);
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
  }

  /* ----------------- twitter timeline ----------------------*/
  .twitter-timeline {
    max-width: 100%;
    max-height: 400px;
  }
  
  .project_link{
      color: white;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-size: 25px;
  }
  
  #card-link{
    padding: 54px 0px !important;
  }
  .project_link:hover{
      color: aquamarine;
  }

  /*------------------------------ contact me section -----------------*/
  .drop_msg{
      margin: 50px 0px;
      padding: 50px 0px;
      background-color: #f0f0f0;
      background-image: url('../img/science_re_mnnr.svg');
      background-repeat: no-repeat;
      background-position: bottom 45px left 0px;
      background-size: 180px;
      
  }
  .cont_wrap{
 text-align: center;

  }
  .cont_wrap h1{
      text-transform: uppercase;
      margin-bottom: 30px;
      font-size: 25px;
  }
  .cont_wrap p{
      font-size: 20px;
  }

  .skill_list li{
    padding-bottom: 8px;
    list-style-type: revert;
  }

  .vertical{
    writing-mode:tb-rl;
}





.post_item_wrap {
    position: relative;
    display: flex;
    color: #888;
    padding: 5px;
    border: 1px solid #5f5f5f;
    text-align: left;
}
.post_thubnail {
    flex-shrink: 0;
    width: 100px;
    height: 70px;
    margin-right: 15px;
}
.post-title {
    font-size: 15px;
    margin-top: 0px;
    letter-spacing: 0em;
    line-height: 1.5;
    padding-top: 0px;
    text-align: left;
}
.post-title a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}
.post_thubnail_img{
    padding: 5px;
    width: 100%;
}
.post_item_wrap .sidedate {
    padding: 0px;
    font-size: 10px;
    /* margin-top: -10px; */
    /* margin-bottom: 0px; */
    color: #b5b5b5;
    text-align: right;
    position: absolute;
    right: 6px;
    bottom: -10px;
}
.header-section{
    z-index: 10000000;
    background-color: #ffffff;
}
.mobile-intro{
    display: none;
}


@media only screen and (max-width:767px) {
    .drop_msg{
        background-size: 100px;
        
    }
    /*
    .intro-titile{
        background-image: url(../img/biking_kc-4-f.svg);
    background-repeat: no-repeat;
    background-position: top -25px left 0px;
    background-size: 250px;

    }*/
    .about{
        padding: 0px 20px;
    }
    .skills_intro {
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .tline-left {
        margin-top: 10px;
        padding-top: 50px;
    }
    .navbar-toggler:focus {
        box-shadow: 0 0 0 0rem;
    }
    #menuitem li {
        padding-right: 5px;
        margin-right: 10px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(128, 128, 128, 0.338);
        margin-bottom: 2px;
    }
    .timeline {
        margin: 4em auto;
        margin-left: -20px;
    }
    .web-intro{
        display: none;
    }
    .mobile-intro{
        display: block;
    }
    .m1{
        font-size: 18px;
        padding: 2px 20px;
    }
    .cont_wrap h1 {
        text-transform: capitalize;
        margin-bottom: 10px;
        font-size: 25px;
    }
    .drop_msg {
        padding: 30px 0px;
    }
}
/*
#menuitem li {
    padding-right: 5px;
    margin-right: 10px;
    text-align: center;
    background-color: mistyrose;
    border: 1px solid grey;
    margin-bottom: 2px;
}*/

.sec_timeline{
    padding: 0px 20px;
}